.slider{
  width: 28rem;
  height: 1rem;
  border-radius: 10px;
  background: #EBEBEB;
}
.slider div{
  height: 100%;
  width: 70%;
  background: #FF5F37;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.slider.green{
  background: #8BC488;
}
.slider.orange{
  background: #EBEBEB;
}