.gridItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.flexItems{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.flexItems.reverse{
  flex-direction: column-reverse;
}